{% extends '../layout.jinja2' %}
{% block content %}

    <table class="table table-bordered">
        <tr>
            <td>UID</td>

            <td>{{ recs.uid }}</td>
        </tr>
        <tr>
            <td>PATH</td>
            <td>{{ recs.path }}</td>

        </tr>
        <tr>
            <td>DESC</td>
            <td>{{ recs.desc }}</td>

        </tr>
        <tr>

            <td>TIME</td>
            <td>{{ recs.time_create }}</td>
        </tr>
    </table>

{% endblock content %}
