{% block content %}
{{ add_url }}
<form action="{{ add_url }}" method="post">
<div class="form-group">

    PATH：    <input  id="path" name="path" type="text">

    DESC：     <textarea name="desc" rows="10" cols="80"></textarea>

</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Add" class="btn btn-default">Save</button>
</div>
</form>

{% endblock content %}
