{% extends '../layout.jinja2' %}
{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>UID</td>
                <td>PATH</td>
                <td>DESC</td>
                <td>TIME</td>
            </tr>
            </thead>
            <tbody>

            {% for rec in recs %}
                <tr>
                    <td><a href="/entity/view/{{ rec.uid }}"> {{ rec.uid }}</a></td>
                    <td>{{ rec.path }}</td>
                    <td>{{ rec.desc }}</td>
                    <td>{{ rec.time_create }}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}
