{% extends "dava_layout.jinja2" %}

{% block content %}

    <p>
        输入一组范围：
    </p>
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
        <tr>
            <td>最小贝类养殖面积:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>最大贝类养殖面积:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
        </tbody>
    </table>

    <table id="example" class="display" style="width:100%">
        <thead>

        {% for title in titles %}

            <tr>
                {% for item in title %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </thead>
        <tbody>
        {% for value in values %}
            <tr>
                {% for item in value %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}
