{% extends "dava_layout.jinja2" %}

{% block content %}


{#    <div>#}
{#					Toggle column: <a class="toggle-vis" data-column="0">Name</a> - <a class="toggle-vis" data-column="1">Position</a> - <a class="toggle-vis" data-column=#}
{#					"2">Office</a> - <a class="toggle-vis" data-column="3">Age</a> - <a class="toggle-vis" data-column="4">Start date</a> - <a class="toggle-vis" data-column=#}
{#					"5">Salary</a>#}
{#				</div>#}
{##}

    <h3>{{ xlsx_title }}</h3>


    <table id="example" class="display" style="width:100%">
        <thead>

        <tr>
            {% for title in titles %}



                <td>{{ title }}</td>


            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for value in values %}
            <tr>
                {% for item in value %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    <tfoot>
            <tr>
                {% for title in titles %}



                <th>{{ title }}</th>


            {% endfor %}
            </tr>
        </tfoot>
    </table>

     <a id="button" class="btn btn-primary">数据可视化</a>
    <div id="data_chart" style="width: 90%;height:300px;"></div>


{% endblock content %}
