<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{ request.static_url('gorna:static/pyramid-16x16.png') }}">

    <title>Cookiecutter Alchemy project for the Pyramid Web Framework</title>

    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet">


    <!-- Custom styles for this scaffold -->


    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
            integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4"
            crossorigin="anonymous"></script>

    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" language="javascript"
            src="{{ request.static_url('gorna:static/echarts.min.js') }}"></script>

        <script src="{{ request.static_url('gorna:static/china.js') }}"></script>

    <style type="text/css">
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>

    <script>

        $(document).ready(function () {

            {#var data_start_m = {{ codes|safe }}.indexOf('D');#}
            {#alert(data_start_m);#}


            var table = $('#example').DataTable({
                initComplete: function () {
                    var i = 1;
                    var min = $('.min')[0].id;
                    var minlen = min.toString().substring(4);
                    this.api().columns().every(function () {
                        if(i<minlen&&i!=1){
                            var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });
                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                         }
                         i++;
                    });

                }
            });






            var table = $('#example').DataTable();
            // search
            {#
            $('.search').keyup( function() {
                var min = $('.min')[0].id;
                var minlen = min.toString().substring(4);
                var searchid = this.id.toString();
                var id = searchid.substring(7)-1;
                //alert(id)
                //table.columns(3).search($('#search'+searchid).val(),true,false).draw();
                alert(searchid)
                alert(min)
                for(var i=2;i<minlen;i++){
                    if(1==1){
                        var value = $('#search-'+i).val().length
                        if(value>0){
                            alert('run')
                            //alert($('#'+i).val())
                            table.columns(i).search($('.search').val(),true,false).draw();
                        }

                    }
                }
            } );

            $('.search').keyup( function() {
                var searchid = this.id.toString();
                var id = searchid.substring(7)-1;
                alert(searchid)
                alert(id)
                table.columns(id).search($('.search').val(),true,false).draw(); //第三行 id search-4
             });
             #}


             // search




            // min max


            // Event listener to the two range filtering inputs to redraw on input
            $('.min, .max').keyup( function() {

                tableDraw(this.id.substring(4));
                table.draw();
            } );
            function tableDraw(id){
                $.fn.dataTable.ext.search.push(
                    function( settings, data, dataIndex ) {
                        var min = parseInt( $('#'+'min-'+id).val(), 10 );
                        var max = parseInt( $('#'+'max-'+id).val(), 10 );

                        var age = parseFloat( data[id-1] ); // use data for the age column

                        if ( ( isNaN( min ) && isNaN( max ) ) ||
                             ( isNaN( min ) && age <= max ) ||
                             ( min <= age   && isNaN( max ) ) ||
                             ( min <= age   && age <= max ) )
                        {
                            return true;
                        }
                        return false;

                    }
                );
            }



            $('a.toggle-vis').on( 'click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            } );


            $('#example tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function () {

                var row_count = table.rows('.selected').data().length;

                if (row_count == 0) {
                    alert('请在表格中选择数据');
                    return;
                }


                {#alert(table.rows('.selected').data().length + ' row(s) selected');#}
                var ids = $.map(table.rows('.selected').data(), function (item) {
                    return [item]
                });
                console.log(ids);
                // alert(+ ' row(s) selected');


                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('data_chart'));

                var chart_type = 'bar';

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '人地系统数据库图表可视化'
                    },
                    tooltip: {},
                    legend: {
                        data: $.map(ids, function (item) {
                            return item[0]
                        })
                    },
                    xAxis: {
                        data: {{   titles[data_start_m:]|safe  }}
                    },
                    yAxis: {},
                    series: $.map(ids, function (item) {
                        return {
                            name: item[0],
                            type: chart_type,
                            data: item.splice({{ data_start_m }})
                        }
                    })


                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);


            });
        });

    </script>

</head>

<body>



<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">首页</a>
    </div>
    <div>

    </div>
    </div>
</nav>


                {% block content %}
                    <p>No content</p>
                {% endblock content %}




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>

