<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{ request.static_url('gorna:static/pyramid-16x16.png') }}">
    <title>人地系统数据库</title>

    <!-- Bootstrap core CSS -->
    {#    <link rel="stylesheet" href="{{ request.static_url('gorna:static/bootstrap-combined.css') }}">#}
    <link rel="stylesheet" href="{{ request.static_url('gorna:static/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('gorna:static/css/font-awesome.min.css') }}">
    <script src="{{ request.static_url('gorna:static/ckeditor.js') }}"></script>


    <!-- Custom styles for this scaffold -->
    {#    <link href="{{request.static_url('gorna:static/theme.css')}}" rel="stylesheet">#}

</head>

<body>
<div class="container">

    <div class="row">
        <h1 class="col-sm-8">
            人地系统数据库
        </h1>

        <div class="col-sm-4">
            <form method="post" action="" id="search" style="padding-top:17px;">

                <input value="" id="q" name="q" class="col-sm-9" placeholder="全文搜索" type="text">
                <button type="submit" class="btn btn-primary col-sm-3"><i class="icon-search"></i> 搜索</button>

            </form>
        </div>
    </div>


    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="container-fluid" id="nava">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">Switch navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">首页</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav" id="nav">
                        <li><a href="/entity/_add">上传</a></li>


                        {##}
                        {#<li class="dropdown">#}
                        {#                            <a href="/page/help" class="dropdown-toggle" data-toggle="dropdown">#}
                        {#                                {{ _('Education') }}#}
                        {#                                <b class="caret"></b>#}
                        {#                            </a>#}
                        {##}
                        {#                            <ul class="dropdown-menu">#}
                        {##}
                        {#                                <li><a href="/tutorial/">{{ _('Tutorial') }}</a></li>#}
                        {#                                <li><a href="/filter/2100">{{ _('Training') }} </a></li>#}
                        {#                                <li><a href="/science.html">{{ _('PopSci') }}</a></li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li><a href="/training201810.html">International Training 2018</a> </li>#}
                        {##}
                        {#                            </ul>#}
                        {#                        </li>#}


                    </ul>

                        {% if request.user is none %}

                            <p  class="pull-right">
                                <i class="icon-user"></i> <a href="{{ request.route_url('login') }}">Login</a>
                            </p>
                        {% else %}

                            <p class="pull-right">
                                {{ request.user.name }} <a href="{{ request.route_url('logout') }}">Logout</a>
                            </p>
                        {% endif %}

                </div>
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock content %}

</div>


<footer>
    <hr/>
    <div class="container">
        © Copyright(2002)中国科学院东北地理与农业生态研究所 2006-2014 | <a href="#"><i class="icon-envelope"></i> 联系我们</a> | <a href="#">使用条款和免责申明</a>
        | <a href="#" target="_blank">吉ICP备05002032号</a>
        <br><br>
    </div>

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"
        integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h"
        crossorigin="anonymous"></script>
<script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
        integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4"
        crossorigin="anonymous"></script>
</body>
</html>
