{% extends "layout.jinja2" %}

{% block content %}

    <div class="row">

        {% for all_file in all_files %}


            <div class="container">
                <div class="alert alert-info"><a href="#" class="brand">{{ all_file[0] }}</a></div>
            </div>

            <ul class="container">
                {% for xlsx in all_file[1] %}
                    <li class="col-sm-4 list-group-item" style="list-style: none">


                        <h3>
                            {{ xlsx[0] }}
                        </h3>

                        <p>
                            人地系统主题数据库是面向人地系统基础研究、国家经济建设和国家战略需求，以人口、资源、环境和发展(PRED)为核心的数据库服务系统。
                        </p>

                        <p>
                            <a href="/datable/{{ xlsx[1] }}" class="btn btn-primary">浏览</a>
                            <a class="btn" href="#">分享</a>
                        </p>


                    </li>
                {% endfor %}
            </ul>

        {% endfor %}

    </div>

{% endblock content %}
