{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">


        <div class="starter-template">
            {% for all_file in all_files %}
                <h4>{{ all_file[0] }}</h4>

                 <div class="row" >

                 <div class="panel panel-default">
    <div class="panel-body">
                {% for xlsx in all_file[1] %}
                    <a href="/datable/{{ xlsx[1] }}" class="btn btn-primary">{{ xlsx[0] }}</a>
                {% endfor %}
                 </div>
                 </div>
                 </div>
            {% endfor %}
        </div>


        <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Alchemy project</span></h1>
        <p class="lead">Welcome to <span class="font-normal">gorna</span>, a&nbsp;Pyramid application
            generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
    </div>
{% endblock content %}
